/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

.modal {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.confirm {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cancel {
    background-color: #ccc;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
} */