@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@keyframes gradient-x {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@layer utilities {
    .animate-gradient-x {
        background-size: 200% 200%;
        animation: gradient-x 10s ease infinite;
    }
}

@layer utilities {
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.animate-pop {
    animation: pop 0.5s ease-in-out;
}



.ring-glow {
    box-shadow: 0 0 10px 2px rgba(0, 255, 94, 0.6), 0 0 20px 4px rgba(2, 255, 95, 0.4);
}